<footer class="bg-dark">
    <div class="container py-5 text-white d-none">
        <div class="row">
            <div class="col">
                <p class="h5">CEMCON GROUP PVT. LTD.</p>
                <span>Approved by Research Design & Standard Organisation, Lucknow (India), we are steadily
                    manufacturing and supplying the mechanical & track safety products to Indian Railways.</span>
            </div>
            <div class="col">
                <p class="h5">QUICK LINKS</p>
            </div>
            <div class="col">
                <p class="h5">OUR ADDRESS</p>
                One of three columns
            </div>
            <div class="col">
                <p class="h5">LOCATION</p>
            </div>
        </div>
    </div>

    <div class="bottom_line border-top py-2 f-13">
        <div class="text-center">
            <span style="color:#fff">Copyright © {{year}}&nbsp; <a href="#">Cemcongroup.in </a> All Rights Reserved.
                <!-- <a href=" https://www.creative24x7.com/" target="_blank"
                    style="font-family:'Federant', cursive;">creative24x7
                </a> -->
            </span>
        </div>
    </div>
</footer>