/* You can add global styles to this file, and also import other style files */

.text-primary {
    color: #2f3192 !important;
}

.btn-primary {
    background-color: #2f3192 !important;
}
.bg-primary {
    background-color: #2f3192 !important;
    color:#fff;
}

img{width: 100%;}

// *{font-size: 15px;}
.f-12{font-size: 12px;}
.f-13{font-size: 13px;}
.f-15{font-size: 15px;}